In [194]:
#Dependencies
import pandas as pd
import numpy as np
import os
import csv

In [195]:
# Files to Load
schools_complete = "schools_complete.csv"
students_complete = "students_complete.csv"

print(schools_complete)
print(students_complete)

schools_complete.csv
students_complete.csv

In [196]:
#create dataframe using mapping

schools_df = pd.read_csv(schools_complete)

students_df = pd.read_csv(students_complete)


#read files
schools_df.head()

students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [197]:
#Merge


merge_df = pd.merge(schools_df, students_df, how="left", on="school_name")
merge_df

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
5,0,Huang High School,District,2917,1910635,5,Bryan Miranda,M,9th,94,94
6,0,Huang High School,District,2917,1910635,6,Sheena Carter,F,11th,82,80
7,0,Huang High School,District,2917,1910635,7,Nicole Baker,F,12th,96,69
8,0,Huang High School,District,2917,1910635,8,Michael Roth,M,10th,95,87
9,0,Huang High School,District,2917,1910635,9,Matthew Greene,M,10th,96,84
10,0,Huang High School,District,2917,1910635,10,Andrew Alexander,M,10th,90,70
11,0,Huang High School,District,2917,1910635,11,Daniel Cooper,M,10th,78,77
12,0,Huang High School,District,2917,1910635,12,Brittney Walker,F,9th,64,79
13,0,Huang High School,District,2917,1910635,13,William Long,M,9th,71,79
14,0,Huang High School,District,2917,1910635,14,Tammy Hebert,F,10th,85,67
15,0,Huang High School,District,2917,1910635,15,Dr. Jordan Carson,M,11th,94,88
16,0,Huang High School,District,2917,1910635,16,Donald Zamora,M,9th,88,55
17,0,Huang High School,District,2917,1910635,17,Kimberly Santiago,F,9th,74,75
18,0,Huang High School,District,2917,1910635,18,Kevin Stevens,M,9th,64,69
19,0,Huang High School,District,2917,1910635,19,Brandi Lyons,F,9th,89,80
20,0,Huang High School,District,2917,1910635,20,Lisa Davis,F,10th,91,89
21,0,Huang High School,District,2917,1910635,21,Kristen Lopez,F,10th,90,77
22,0,Huang High School,District,2917,1910635,22,Kimberly Stewart,F,11th,99,84
23,0,Huang High School,District,2917,1910635,23,Christopher Parker,M,9th,81,68
24,0,Huang High School,District,2917,1910635,24,Chelsea Griffith,F,11th,85,73
25,0,Huang High School,District,2917,1910635,25,Cesar Morris,M,9th,92,70
26,0,Huang High School,District,2917,1910635,26,Melanie Decker,F,9th,63,85
27,0,Huang High School,District,2917,1910635,27,Tracey Oconnor,F,10th,80,58
28,0,Huang High School,District,2917,1910635,28,Kelly James,F,11th,73,55
29,0,Huang High School,District,2917,1910635,29,Nicole Brown,F,12th,90,88
...,...,...,...,...,...,...,...,...,...,...,...
39140,14,Thomas High School,Charter,1635,1043130,39140,Cheyenne Hernandez,F,9th,76,99
39141,14,Thomas High School,Charter,1635,1043130,39141,Jonathan Sullivan,M,10th,86,93
39142,14,Thomas High School,Charter,1635,1043130,39142,Deborah Higgins DDS,F,10th,96,83
39143,14,Thomas High School,Charter,1635,1043130,39143,Steven Jackson,M,11th,71,93
39144,14,Thomas High School,Charter,1635,1043130,39144,Cristian Webster,M,12th,77,87
39145,14,Thomas High School,Charter,1635,1043130,39145,Audrey Fry,F,10th,94,74
39146,14,Thomas High School,Charter,1635,1043130,39146,Michael Carroll,M,9th,69,95
39147,14,Thomas High School,Charter,1635,1043130,39147,Raymond Hawkins,M,10th,88,81
39148,14,Thomas High School,Charter,1635,1043130,39148,Christopher Wilson,M,10th,89,89
39149,14,Thomas High School,Charter,1635,1043130,39149,Glenda Fletcher,F,11th,82,93
39150,14,Thomas High School,Charter,1635,1043130,39150,Jennifer Hamilton,F,11th,80,75
39151,14,Thomas High School,Charter,1635,1043130,39151,Shannon Williams,F,10th,84,73
39152,14,Thomas High School,Charter,1635,1043130,39152,Lori Moore,F,9th,98,84
39153,14,Thomas High School,Charter,1635,1043130,39153,William Hubbard,M,9th,80,75
39154,14,Thomas High School,Charter,1635,1043130,39154,Bradley Johnson,M,12th,91,71
39155,14,Thomas High School,Charter,1635,1043130,39155,John Brooks,M,10th,92,98
39156,14,Thomas High School,Charter,1635,1043130,39156,Stephanie Contreras,F,11th,79,95
39157,14,Thomas High School,Charter,1635,1043130,39157,Kristen Gonzalez,F,9th,79,94
39158,14,Thomas High School,Charter,1635,1043130,39158,Kari Holloway,F,10th,87,90
39159,14,Thomas High School,Charter,1635,1043130,39159,Kimberly Cabrera,F,11th,85,72
39160,14,Thomas High School,Charter,1635,1043130,39160,Katie Weaver,F,11th,89,86
39161,14,Thomas High School,Charter,1635,1043130,39161,April Reyes,F,10th,70,84
39162,14,Thomas High School,Charter,1635,1043130,39162,Derek Weeks,M,12th,94,77
39163,14,Thomas High School,Charter,1635,1043130,39163,John Reese,M,11th,90,75
39164,14,Thomas High School,Charter,1635,1043130,39164,Joseph Anthony,M,9th,97,76
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

# District Summary

In [198]:
##Calculate the total number of schools

    #create an array of unique school names
unique_school_names = merge_df["school_name"].unique()

    #calculate 'len' to get total schools
school_count = len(unique_school_names)    

print(school_count)

15

In [199]:
#Calculate the total number of students
Student_ID_count = merge_df["Student ID"].count()

print(Student_ID_count)

39170

In [200]:
#Calculate the total budget

total_budget = schools_df["budget"].sum()
print(total_budget)

24649428

In [201]:
#Calculate the average math score

avg_math_score = merge_df["math_score"].mean()
print(avg_math_score)

#Calculate the average reading score

avg_reading_score = merge_df["reading_score"].mean()
print(avg_reading_score)

78.98537145774827
81.87784018381414

In [202]:
#Calculate the overall passing rate (overall average score), 
#i.e. (avg. math score + avg. reading score)/2

num_pass_reading = students_df.loc[students_df["reading_score"] >= 70]["reading_score"].count()
print(num_pass_reading)

33610

In [203]:
perc_pass_reading = num_pass_reading/Student_ID_count * 100

print(perc_pass_reading)

85.80546336482001

In [204]:
num_pass_math = students_df.loc[students_df["math_score"] >= 70]["math_score"].count()
print(num_pass_math)

29370

In [205]:
perc_pass_math = num_pass_math/Student_ID_count * 100

print(perc_pass_math)

74.9808526933878

In [206]:
#####################FIX THIS!!!!!!#########################
overall_passing_rate = ((perc_pass_reading + perc_pass_math)/2)

print(overall_passing_rate)

80.39315802910392

In [207]:
#Create a dataframe to hold the above results

district_summary = pd.DataFrame({
    
        "Total Schools": [school_count],
        "Total Students": [Student_ID_count],
        "Total Budget": [total_budget],
        "Average Math Score": round(avg_math_score,2),
        "Average Reading Score": round(avg_reading_score,2),
        "Overall Passing Rate": round(overall_passing_rate,2),
        "Total Pass Math": round(num_pass_math,2),
        "% Pass Math": round(perc_pass_math,2),
        "Total Pass Reading": round(num_pass_reading),
        "% Pass Reading": round(perc_pass_reading,2)
    
      })

#store as dif df to change order
dist_sum = district_summary[["Total Schools", 
                             "Total Students",
                             "Total Budget",
                             "Average Math Score",
                             "Average Reading Score",
                             "Overall Passing Rate",
                             "Total Pass Math",
                             "% Pass Math",
                             "Total Pass Reading",
                             "% Pass Reading"]]

#why won't the $ signs or % show up? 
dist_sum.style.format({"Total Budget": "${:,.2f}",
                       "Average Reading Score": "{:.1f}",
                       "Average Math Score": "{:.1f}",
                       "% Pass Reading": "{:.%}",
                       "% Pass Math": "{:.1%}",
                       "Overall Passing Rate": "{:.1%}"})

                    
dist_sum.style

In [208]:
#this output has some $ and %

dis_sum_table = pd.DataFrame(district_summary)
dis_sum_table["Total Schools"]
dis_sum_table["Total Students"] = dis_sum_table["Total Students"].map("{:,}".format)
dis_sum_table["Total Budget"] = dis_sum_table["Total Budget"].map("${:,.2f}".format)
dis_sum_table["Overall Passing Rate"] = dis_sum_table["Overall Passing Rate"].map("{:,.2f}%".format)
dis_sum_table["% Pass Math"] = dis_sum_table["% Pass Math"].map("{:,.2f}%".format)
dis_sum_table["% Pass Reading"] = dis_sum_table["% Pass Reading"].map("{:,.2f}%".format)

dis_sum_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Overall Passing Rate,Total Pass Math,% Pass Math,Total Pass Reading,% Pass Reading
0,15,"39,170","$24,649,428.00",78.99,81.88,80.39%,29370,74.98%,33610,85.81%

# #School Summary

In [209]:
merge_df["Total Pass Math"] = merge_df["math_score"] >= 70
merge_df["Total Pass Reading"] = merge_df["reading_score"] >= 70

merge_df

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score,Total Pass Math,Total Pass Reading
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79,True,False
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61,False,True
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60,False,True
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58,False,False
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84,True,True
5,0,Huang High School,District,2917,1910635,5,Bryan Miranda,M,9th,94,94,True,True
6,0,Huang High School,District,2917,1910635,6,Sheena Carter,F,11th,82,80,True,True
7,0,Huang High School,District,2917,1910635,7,Nicole Baker,F,12th,96,69,False,True
8,0,Huang High School,District,2917,1910635,8,Michael Roth,M,10th,95,87,True,True
9,0,Huang High School,District,2917,1910635,9,Matthew Greene,M,10th,96,84,True,True
10,0,Huang High School,District,2917,1910635,10,Andrew Alexander,M,10th,90,70,True,True
11,0,Huang High School,District,2917,1910635,11,Daniel Cooper,M,10th,78,77,True,True
12,0,Huang High School,District,2917,1910635,12,Brittney Walker,F,9th,64,79,True,False
13,0,Huang High School,District,2917,1910635,13,William Long,M,9th,71,79,True,True
14,0,Huang High School,District,2917,1910635,14,Tammy Hebert,F,10th,85,67,False,True
15,0,Huang High School,District,2917,1910635,15,Dr. Jordan Carson,M,11th,94,88,True,True
16,0,Huang High School,District,2917,1910635,16,Donald Zamora,M,9th,88,55,False,True
17,0,Huang High School,District,2917,1910635,17,Kimberly Santiago,F,9th,74,75,True,True
18,0,Huang High School,District,2917,1910635,18,Kevin Stevens,M,9th,64,69,False,False
19,0,Huang High School,District,2917,1910635,19,Brandi Lyons,F,9th,89,80,True,True
20,0,Huang High School,District,2917,1910635,20,Lisa Davis,F,10th,91,89,True,True
21,0,Huang High School,District,2917,1910635,21,Kristen Lopez,F,10th,90,77,True,True
22,0,Huang High School,District,2917,1910635,22,Kimberly Stewart,F,11th,99,84,True,True
23,0,Huang High School,District,2917,1910635,23,Christopher Parker,M,9th,81,68,False,True
24,0,Huang High School,District,2917,1910635,24,Chelsea Griffith,F,11th,85,73,True,True
25,0,Huang High School,District,2917,1910635,25,Cesar Morris,M,9th,92,70,True,True
26,0,Huang High School,District,2917,1910635,26,Melanie Decker,F,9th,63,85,True,False
27,0,Huang High School,District,2917,1910635,27,Tracey Oconnor,F,10th,80,58,False,True
28,0,Huang High School,District,2917,1910635,28,Kelly James,F,11th,73,55,False,True
29,0,Huang High School,District,2917,1910635,29,Nicole Brown,F,12th,90,88,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39140,14,Thomas High School,Charter,1635,1043130,39140,Cheyenne Hernandez,F,9th,76,99,True,True
39141,14,Thomas High School,Charter,1635,1043130,39141,Jonathan Sullivan,M,10th,86,93,True,True
39142,14,Thomas High School,Charter,1635,1043130,39142,Deborah Higgins DDS,F,10th,96,83,True,True
39143,14,Thomas High School,Charter,1635,1043130,39143,Steven Jackson,M,11th,71,93,True,True
39144,14,Thomas High School,Charter,1635,1043130,39144,Cristian Webster,M,12th,77,87,True,True
39145,14,Thomas High School,Charter,1635,1043130,39145,Audrey Fry,F,10th,94,74,True,True
39146,14,Thomas High School,Charter,1635,1043130,39146,Michael Carroll,M,9th,69,95,True,False
39147,14,Thomas High School,Charter,1635,1043130,39147,Raymond Hawkins,M,10th,88,81,True,True
39148,14,Thomas High School,Charter,1635,1043130,39148,Christopher Wilson,M,10th,89,89,True,True
39149,14,Thomas High School,Charter,1635,1043130,39149,Glenda Fletcher,F,11th,82,93,True,True
39150,14,Thomas High School,Charter,1635,1043130,39150,Jennifer Hamilton,F,11th,80,75,True,True
39151,14,Thomas High School,Charter,1635,1043130,39151,Shannon Williams,F,10th,84,73,True,True
39152,14,Thomas High School,Charter,1635,1043130,39152,Lori Moore,F,9th,98,84,True,True
39153,14,Thomas High School,Charter,1635,1043130,39153,William Hubbard,M,9th,80,75,True,True
39154,14,Thomas High School,Charter,1635,1043130,39154,Bradley Johnson,M,12th,91,71,True,True
39155,14,Thomas High School,Charter,1635,1043130,39155,John Brooks,M,10th,92,98,True,True
39156,14,Thomas High School,Charter,1635,1043130,39156,Stephanie Contreras,F,11th,79,95,True,True
39157,14,Thomas High School,Charter,1635,1043130,39157,Kristen Gonzalez,F,9th,79,94,True,True
39158,14,Thomas High School,Charter,1635,1043130,39158,Kari Holloway,F,10th,87,90,True,True
39159,14,Thomas High School,Charter,1635,1043130,39159,Kimberly Cabrera,F,11th,85,72,True,True
39160,14,Thomas High School,Charter,1635,1043130,39160,Katie Weaver,F,11th,89,86,True,True
39161,14,Thomas High School,Charter,1635,1043130,39161,April Reyes,F,10th,70,84,True,True
39162,14,Thomas High School,Charter,1635,1043130,39162,Derek Weeks,M,12th,94,77,True,True
39163,14,Thomas High School,Charter,1635,1043130,39163,John Reese,M,11th,90,75,True,True
39164,14,Thomas High School,Charter,1635,1043130,39164,Joseph Anthony,M,9th,97,76,True,True
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90,True,True
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70,True,True
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84,True,True
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90,True,True
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75,True,True

In [210]:
##Uhhhh do i even need this in here?? I dont think its right.. or even needed

school_group = merge_df.groupby(["school_name"]).mean()


school_group["Per Student Budget"] = school_group["budget"]/school_group["size"]
school_group["% Pass Math"] = round(school_group["Total Pass Math"]*100,2)
school_group["% Pass Reading"] = round(school_group["Total Pass Reading"]*100,2)
school_group["% Overall Passing Rate"] = round(((school_group["Total Pass Math"] + school_group["Total Pass Reading"])/2)*100,3)


del school_group["% Pass Math"]
del school_group["% Overall Passing Rate"]
del school_group["% Pass Reading"]




school_group

,School ID,size,budget,Student ID,reading_score,math_score,Total Pass Math,Total Pass Reading,Per Student Budget
school_name,,,,,,,,,
Bailey High School,7.0,4976.0,3124928.0,20358.5,81.033963,77.048432,0.666801,0.819333,628.0
Cabrera High School,6.0,1858.0,1081356.0,16941.5,83.975780,83.061895,0.941335,0.970398,582.0
Figueroa High School,1.0,2949.0,1884411.0,4391.0,81.158020,76.711767,0.659885,0.807392,639.0
Ford High School,13.0,2739.0,1763916.0,36165.0,80.746258,77.102592,0.683096,0.792990,644.0
Griffin High School,4.0,1468.0,917500.0,12995.5,83.816757,83.351499,0.933924,0.971390,625.0
Hernandez High School,3.0,4635.0,3022020.0,9944.0,80.934412,77.289752,0.667530,0.808630,652.0
Holden High School,8.0,427.0,248087.0,23060.0,83.814988,83.803279,0.925059,0.962529,581.0
Huang High School,0.0,2917.0,1910635.0,1458.0,81.182722,76.629414,0.656839,0.813164,655.0
Johnson High School,12.0,4761.0,3094650.0,32415.0,80.966394,77.072464,0.660576,0.812224,650.0
Pena High School,9.0,962.0,585858.0,23754.5,84.044699,83.839917,0.945946,0.959459,609.0
Rodriguez High School,11.0,3999.0,2547363.0,28035.0,80.744686,76.842711,0.663666,0.802201,637.0
Shelton High School,2.0,1761.0,1056600.0,6746.0,83.725724,83.359455,0.938671,0.958546,600.0
Thomas High School,14.0,1635.0,1043130.0,38352.0,83.848930,83.418349,0.932722,0.973089,638.0
Wilson High School,5.0,2283.0,1319574.0,14871.0,83.989488,83.274201,0.938677,0.965396,578.0
Wright High School,10.0,1800.0,1049400.0,25135.5,83.955000,83.682222,0.933333,0.966111,583.0

In [211]:
#Merged
school_data_summary = pd.merge(school_group, schools_df, how="left", on=["school_name", "school_name"])


school_data_summary

,school_name,School ID_x,size_x,budget_x,Student ID,reading_score,math_score,Total Pass Math,Total Pass Reading,Per Student Budget,School ID_y,type,size_y,budget_y
0,Bailey High School,7.0,4976.0,3124928.0,20358.5,81.033963,77.048432,0.666801,0.819333,628.0,7,District,4976,3124928
1,Cabrera High School,6.0,1858.0,1081356.0,16941.5,83.975780,83.061895,0.941335,0.970398,582.0,6,Charter,1858,1081356
2,Figueroa High School,1.0,2949.0,1884411.0,4391.0,81.158020,76.711767,0.659885,0.807392,639.0,1,District,2949,1884411
3,Ford High School,13.0,2739.0,1763916.0,36165.0,80.746258,77.102592,0.683096,0.792990,644.0,13,District,2739,1763916
4,Griffin High School,4.0,1468.0,917500.0,12995.5,83.816757,83.351499,0.933924,0.971390,625.0,4,Charter,1468,917500
5,Hernandez High School,3.0,4635.0,3022020.0,9944.0,80.934412,77.289752,0.667530,0.808630,652.0,3,District,4635,3022020
6,Holden High School,8.0,427.0,248087.0,23060.0,83.814988,83.803279,0.925059,0.962529,581.0,8,Charter,427,248087
7,Huang High School,0.0,2917.0,1910635.0,1458.0,81.182722,76.629414,0.656839,0.813164,655.0,0,District,2917,1910635
8,Johnson High School,12.0,4761.0,3094650.0,32415.0,80.966394,77.072464,0.660576,0.812224,650.0,12,District,4761,3094650
9,Pena High School,9.0,962.0,585858.0,23754.5,84.044699,83.839917,0.945946,0.959459,609.0,9,Charter,962,585858
10,Rodriguez High School,11.0,3999.0,2547363.0,28035.0,80.744686,76.842711,0.663666,0.802201,637.0,11,District,3999,2547363
11,Shelton High School,2.0,1761.0,1056600.0,6746.0,83.725724,83.359455,0.938671,0.958546,600.0,2,Charter,1761,1056600
12,Thomas High School,14.0,1635.0,1043130.0,38352.0,83.848930,83.418349,0.932722,0.973089,638.0,14,Charter,1635,1043130
13,Wilson High School,5.0,2283.0,1319574.0,14871.0,83.989488,83.274201,0.938677,0.965396,578.0,5,Charter,2283,1319574
14,Wright High School,10.0,1800.0,1049400.0,25135.5,83.955000,83.682222,0.933333,0.966111,583.0,10,Charter,1800,1049400

In [212]:
#Create an overview table that summarizes key metrics 
#about each school, including:

#School Name & Type (District or Charter)
by_school = schools_df.set_index(["school_name"])["type"]
by_school

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [249]:
#Total Students per school

total_students = students_df["school_name"].value_counts()
total_students

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [250]:
#Total Student Budget by school

total_school_budget = merge_df.groupby(["school_name"]).sum()["budget"]

total_school_budget

school_name
Bailey High School       15549641728
Cabrera High School       2009159448
Figueroa High School      5557128039
Ford High School          4831365924
Griffin High School       1346890000
Hernandez High School    14007062700
Holden High School         105933149
Huang High School         5573322295
Johnson High School      14733628650
Pena High School           563595396
Rodriguez High School    10186904637
Shelton High School       1860672600
Thomas High School        1705517550
Wilson High School        3012587442
Wright High School        1888920000
Name: budget, dtype: int64

In [290]:
#Per Student Budget

per_student_budet = schools_df.set_index("school_name")["budget"]/schools_df.set_index("school_name")["size"]
per_student_budet

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [291]:

#Average Math Score
avg_math_score = merge_df.groupby(["school_name"]).mean()["math_score"]
avg_math_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [292]:
#passing math per school
passing_math = merge_df[(merge_df["math_score"] > 70)]
passing_math_list = passing_math.groupby(["school_name"]).count()["student_name"] / total_students * 100
passing_math_list

Bailey High School       64.630225
Cabrera High School      89.558665
Figueroa High School     63.750424
Ford High School         65.753925
Griffin High School      89.713896
Hernandez High School    64.746494
Holden High School       90.632319
Huang High School        63.318478
Johnson High School      63.852132
Pena High School         91.683992
Rodriguez High School    64.066017
Shelton High School      89.892107
Thomas High School       90.214067
Wilson High School       90.932983
Wright High School       90.277778
dtype: float64

In [293]:
#Average Reading Score

avg_reading_score = merge_df.groupby(["school_name"]).mean()["reading_score"]
avg_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [294]:
#passing reading per school
passing_reading = merge_df[(merge_df["reading_score"] > 70)]

passing_reading_list = passing_reading.groupby(["school_name"]).count()["student_name"] / total_students * 100
passing_reading_list

Bailey High School       79.300643
Cabrera High School      93.864370
Figueroa High School     78.433367
Ford High School         77.510040
Griffin High School      93.392371
Hernandez High School    78.187702
Holden High School       92.740047
Huang High School        78.813850
Johnson High School      78.281874
Pena High School         92.203742
Rodriguez High School    77.744436
Shelton High School      92.617831
Thomas High School       92.905199
Wilson High School       93.254490
Wright High School       93.444444
dtype: float64

In [295]:
#% Passing Math & Reading in a table


#school_data_summary["passing_reading"] = school_data_summary["reading_score"] >= 70
#school_data_summary["passing_math"] = school_data_summary["math_score"] >= 70
#school_data_summary

In [298]:


#Overall Passing Rate
overall_passing_rate = merge_df[(merge_df['reading_score'] >= 70) & (merge_df['math_score'] >= 70)].groupby('school_name')['Student ID'].count()/total_students * 100
overall_passing_rate

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [299]:
#Top Performing Schools (By Passing Rate)
#Sort and display the top five schools in overall passing rate

#avg scores by school
# avg_math = by_school['math_score'].mean()
# avg_read = by_school['reading_score'].mean()

school_data_summary = pd.DataFrame({"School Type": by_school,
                              "Total Students": Student_ID_count,
                              "Total School Budget": total_school_budget,
                              "Per Student Budget": per_student_budet,
                              "Average Math Score": avg_math_score,
                              "Average Reading Score": avg_reading_score,
                              "% Passing Math":passing_math_list,
                              "% Passing Reaing": passing_reading_list,
                              "Overall Passing Rate": overall_passing_rate})

school_data_summary.columns

Index(['School Type', 'Total Students', 'Total School Budget',
       'Per Student Budget', 'Average Math Score', 'Average Reading Score',
       '% Passing Math', '% Passing Reaing', 'Overall Passing Rate'],
      dtype='object')

In [300]:
school_data_summary.columns

Index(['School Type', 'Total Students', 'Total School Budget',
       'Per Student Budget', 'Average Math Score', 'Average Reading Score',
       '% Passing Math', '% Passing Reaing', 'Overall Passing Rate'],
      dtype='object')

In [301]:
#Top 5

top_performing_schools = school_data_summary.sort_values(["Overall Passing Rate"], ascending=False)


top_performing_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reaing,Overall Passing Rate
Cabrera High School,Charter,39170,2009159448,582.0,83.061895,83.975780,89.558665,93.864370,91.334769
Thomas High School,Charter,39170,1705517550,638.0,83.418349,83.848930,90.214067,92.905199,90.948012
Griffin High School,Charter,39170,1346890000,625.0,83.351499,83.816757,89.713896,93.392371,90.599455
Wilson High School,Charter,39170,3012587442,578.0,83.274201,83.989488,90.932983,93.254490,90.582567
Pena High School,Charter,39170,563595396,609.0,83.839917,84.044699,91.683992,92.203742,90.540541

In [302]:
#Bottom 5

bottom_performing_schools = school_data_summary.sort_values(["% Overall Passing Rate"], descending=True)
bottom_performing_schools.head()

TypeError: sort_values() got an unexpected keyword argument 'descending'

In [303]:
#Math Scores by Grade¶
#Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

#Create a pandas series for each grade. Hint: use a conditional statement.

#Group each series by school

#Combine the series into a dataframe

#Optional: give the displayed data cleaner formatting

In [304]:
#Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

nineth_grade=  merge_df[merge_df["grade"] == "9th"].groupby("school_name").mean()["math_score"]

nineth_grade

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [305]:
tenth_grade =  merge_df[merge_df["grade"] == "10th"].groupby("school_name").mean()["math_score"]
tenth_grade

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [306]:
eleventh_grade =  merge_df[merge_df["grade"] == "11th"].groupby("school_name").mean()["math_score"]
eleventh_grade

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [307]:
twelveth_grade=  merge_df[merge_df["grade"] == "12th"].groupby("school_name").mean()["math_score"]
twelveth_grade

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

# Math by Grade: Data Frame

In [308]:


math_grade_dataframe = pd.DataFrame({"Ninth Grade":nineth_grade, "Tenth Grade":tenth_grade, 
                                     "Eleventh Grade":eleventh_grade, "Twelveth Grade":twelveth_grade})        

#Optional formatting: Give the displayed data cleaner formatting

math_grade_dataframe[["Ninth Grade","Tenth Grade","Eleventh Grade","Twelveth Grade"]] = math_grade_dataframe[["Ninth Grade","Tenth Grade","Eleventh Grade","Twelveth Grade"]].applymap("{:.2f}".format)

#Display

math_grade_dataframe

                      Ninth Grade Tenth Grade Eleventh Grade Twelveth Grade
school_name
Bailey High School          77.08       77.00          77.52          76.49
Cabrera High School         83.09       83.15          82.77          83.28
Figueroa High School        76.40       76.54          76.88          77.15
Ford High School            77.36       77.67          76.92          76.18
Griffin High School         82.04       84.23          83.84          83.36
Hernandez High School       77.44       77.34          77.14          77.19
Holden High School          83.79       83.43          85.00          82.86
Huang High School           77.03       75.91          76.45          77.23
Johnson High School         77.19       76.69          77.49          76.86
Pena High School            83.63       83.37          84.33          84.12
Rodriguez High School       76.86       76.61          76.40          77.69
Shelton High School         83.42       82.92          83.38          83.78
Thomas High School          83.59       83.09          83.50          83.50
Wilson High School          83.09       83.72          83.20          83.04
Wright High School          83.26       84.01          83.84          83.64

In [309]:
#Reading Scores by Grade¶
#Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

#Create a pandas series for each grade. Hint: use a conditional statement.

#Group each series by school

#Combine the series into a dataframe

#Optional: give the displayed data cleaner formatting

In [310]:
nineth_grade=  merge_df[merge_df["grade"] == "9th"].groupby("school_name").mean()["reading_score"]

nineth_grade

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [311]:
tenth_grade =  merge_df[merge_df["grade"] == "10th"].groupby("school_name").mean()["reading_score"]
tenth_grade

school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: reading_score, dtype: float64

In [312]:
eleventh_grade =  merge_df[merge_df["grade"] == "11th"].groupby("school_name").mean()["reading_score"]
eleventh_grade

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64

In [313]:
twelveth_grade =  merge_df[merge_df["grade"] == "12th"].groupby("school_name").mean()["reading_score"]
twelveth_grade

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

In [314]:
reading_grade_dataframe = pd.DataFrame({"Ninth Grade":nineth_grade, "Tenth Grade":tenth_grade, 
                                     "Eleventh Grade":eleventh_grade, "Twelveth Grade":twelveth_grade})        

#Optional formatting: Give the displayed data cleaner formatting

reading_grade_dataframe[["Ninth Grade","Tenth Grade","Eleventh Grade","Twelveth Grade"]] = reading_grade_dataframe[["Ninth Grade","Tenth Grade","Eleventh Grade","Twelveth Grade"]].applymap("{:.2f}".format)

#Display

reading_grade_dataframe

                      Ninth Grade Tenth Grade Eleventh Grade Twelveth Grade
school_name
Bailey High School          81.30       80.91          80.95          80.91
Cabrera High School         83.68       84.25          83.79          84.29
Figueroa High School        81.20       81.41          80.64          81.38
Ford High School            80.63       81.26          80.40          80.66
Griffin High School         83.37       83.71          84.29          84.01
Hernandez High School       80.87       80.66          81.40          80.86
Holden High School          83.68       83.32          83.82          84.70
Huang High School           81.29       81.51          81.42          80.31
Johnson High School         81.26       80.77          80.62          81.23
Pena High School            83.81       83.61          84.34          84.59
Rodriguez High School       80.99       80.63          80.86          80.38
Shelton High School         84.12       83.44          84.37          82.78
Thomas High School          83.73       84.25          83.59          83.83
Wilson High School          83.94       84.02          83.76          84.32
Wright High School          83.83       83.81          84.16          84.07

In [315]:
#Scores by School Spending
#Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
#Average Math Score
#Average Reading Score
#% Passing Math
#% Passing Reading
#Overall Passing Rate (Average of the above two)

In [316]:

# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

# Use 4 reasonable bins to group school spending. 
school_data_summary["Spending Ranges (Per Student)"] = pd.cut(school_data_summary["Per Student Budget"], spending_bins, labels=group_names)

school_spending_grouped = school_data_summary.groupby("Spending Ranges (Per Student)").mean() 



school_spending_grouped

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reaing,Overall Passing Rate
Spending Ranges (Per Student),,,,,,,,
<$585,39170.0,1.754150e+09,581.000000,83.455399,83.933814,90.350436,93.325838,90.369459
$585-615,39170.0,1.212134e+09,604.500000,83.599686,83.885211,90.788049,92.410786,90.216324
$615-645,39170.0,6.529575e+09,635.166667,79.079225,81.891436,73.021426,83.214343,66.112060
$645-675,39170.0,1.143800e+10,652.333333,76.997210,81.027843,63.972368,78.427809,53.526855

In [317]:
#Scores by School Size¶
#Perform the same operations as above, based on school size.

In [318]:
school_size_bin = [0, 1000, 2000, 5000]
school_size = ["< 1000", "1000 - 2000", "2000 - 5000"]

school_data_summary["school_size"] = pd.cut(school_data_summary["Total Students"], school_size_bin, labels=school_size)
school_data_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reaing,Overall Passing Rate,Spending Ranges (Per Student),school_size
Bailey High School,District,39170,15549641728,628.0,77.048432,81.033963,64.630225,79.300643,54.642283,$615-645,NaN
Cabrera High School,Charter,39170,2009159448,582.0,83.061895,83.975780,89.558665,93.864370,91.334769,<$585,NaN
Figueroa High School,District,39170,5557128039,639.0,76.711767,81.158020,63.750424,78.433367,53.204476,$615-645,NaN
Ford High School,District,39170,4831365924,644.0,77.102592,80.746258,65.753925,77.510040,54.289887,$615-645,NaN
Griffin High School,Charter,39170,1346890000,625.0,83.351499,83.816757,89.713896,93.392371,90.599455,$615-645,NaN
Hernandez High School,District,39170,14007062700,652.0,77.289752,80.934412,64.746494,78.187702,53.527508,$645-675,NaN
Holden High School,Charter,39170,105933149,581.0,83.803279,83.814988,90.632319,92.740047,89.227166,<$585,NaN
Huang High School,District,39170,5573322295,655.0,76.629414,81.182722,63.318478,78.813850,53.513884,$645-675,NaN
Johnson High School,District,39170,14733628650,650.0,77.072464,80.966394,63.852132,78.281874,53.539172,$645-675,NaN
Pena High School,Charter,39170,563595396,609.0,83.839917,84.044699,91.683992,92.203742,90.540541,$585-615,NaN
Rodriguez High School,District,39170,10186904637,637.0,76.842711,80.744686,64.066017,77.744436,52.988247,$615-645,NaN
Shelton High School,Charter,39170,1860672600,600.0,83.359455,83.725724,89.892107,92.617831,89.892107,$585-615,NaN
Thomas High School,Charter,39170,1705517550,638.0,83.418349,83.848930,90.214067,92.905199,90.948012,$615-645,NaN
Wilson High School,Charter,39170,3012587442,578.0,83.274201,83.989488,90.932983,93.254490,90.582567,<$585,NaN
Wright High School,Charter,39170,1888920000,583.0,83.682222,83.955000,90.277778,93.444444,90.333333,<$585,NaN

In [319]:
#Scores by School Type
#Perform the same operations as above, based on school type.

In [323]:
school_type_grouped = school_data_summary.groupby("School Type").mean()

#del school_type_grouped["Total School Budget"]

school_type_grouped.style.format({'Average Math Score': '{:.1f}',
                              'Total School Budget' : '${:,.2f}',
                              'Average Reading Score': '{:.1f}'}) 
                              #'% Passing Math': '{:.1%}', 
                              #'% Passing Reading': '{:.1%}', 
                              #'Overall Passing Rate': '{:.1%}'})

In [ ]:
#BABY STEPS WITH THIS :) BABY... BABY STEPS thanks for your patience !

In [ ]:
#A few observable trends based on the data:
# 1.) Charter Schools out perform District Schools in both reading and math passing rates/scores. 
# 2.) Schools with lower spending per student seem to outperform schools that allocate more money per student. 
#####maybe the schools with larger budgets are being provided more funds to help create more resources to overcome such low test scores